<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.dao.CarouseDAO">

    <select id="queryall" resultType="Carouse">
        select carouseid,carousetitle,imgpath,status,
        createtime,description,createname
        from carouse
        where status="y"
    </select>

    <select id="queryByStr" resultType="Carouse" >
        select carouseid,carousetitle,imgpath,status,
        createtime,description,createname
        from carouse
        where carouseid=#{carouseid}
    </select>


    <insert id="insert" parameterType="Carouse">
      insert  into carouse values(
      #{carouseid},
      #{carousetitle},
      #{imgpath},
      #{status},
      #{createtime},
      #{description},
      #{createname},
      #{ex1},
      #{ex2},
      #{ex3},
      #{ex4},
      #{ex5})
    </insert>

    <update id="updateCarouse" parameterType="Carouse">
        update carouse
        <set>
          <if test="status!=null">
                status=#{status},
            </if>

            <if test="carousetitle!=null">
                carousetitle=#{carousetitle},
            </if>

            <if test="description!=null">
                description=#{description}
            </if>
        </set>
        where carouseid=#{carouseid}
    </update>


</mapper>
